#news form {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#news form table .title {
    font-style: italic;
}

#news form table input {
    width: 200px;
}

#news form table textarea {
    width: 200px;
    height: 100px;
    resize: none;
}

#news .main-title {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    margin-bottom: 20px;
    text-align: center;
}