.buttons {
    text-align: center;
    margin-bottom: 20px;
}

#news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#news .news {
    width: 400px;
    padding: 10px 0 32px;
    box-sizing: border-box;
    position: relative;
    margin: 20px;
}

#news .news-header {
    margin-bottom: 10px;
    background-color: rgba(224, 201, 159, 0.45);
    padding: 10px;
}

#news .news-header .title {
    font-weight: bold;
    font-size: 15px;
}

#news .control {
    position: absolute;
    bottom: 3px;
    right: 0;
}

#news .news form {
    display: inline-block;
}

#news .news .content {
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
    box-sizing: border-box;
    padding: 0 10px;
}

#news .news .news-body {
    display: flex;
    flex-direction: column;
}

#news .news .news-body .author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 13px;
}

#news .news .news-body .date {
    font-size: 15px;
}