#messages {
    height: calc(100% - 40px);
}

#messages-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    border: 2px solid rgba(193, 41, 41, 0.41);
    box-sizing: border-box;
    padding: 20px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

#messages-list .message {
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(100,100,100, .3);
    display: inline-block;
    padding: 10px;
    margin: 5px;
    min-width: 200px;
}

#messages-list .message .text {
    margin-bottom: 8px;
}

#messages-list .message .time-day {
    float: left;
    color: #a2a2a2;
    font-size: 13px;
}

#messages-list .message .time-hour {
    float: right;
    font-weight: bold;
    font-size: 13px;
}

#messages-list .message::before {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    box-shadow: inset 10px 10px 0px -5px #b54747;
    left: -3px;
    top: -3px;
}

#messages-list .message.right {
    align-self: flex-end;
}

#messages-list .message.right::before {
    box-shadow: inset -10px 10px 0px -5px #de974d;
    left: auto;
    right: -3px;
    top: -3px;    
}

#messages .info {
    margin: 20px;
}

#messages .info .user,
#messages .info .you{
    position: relative;
    display: inline-block;
    padding: 5px;
    border: 1px solid #aaa;
}

#messages .info .user::before,
#messages .info .you::before{
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    box-shadow: inset 10px 10px 0px -5px #b54747;
    left: -3px;
    top: -3px;
}

#messages .info .you {
    float: right;
}

#messages .info .you::before {
    box-shadow: inset -10px 10px 0px -5px #de974d;
    left: auto;
    right: -3px;
    top: -3px; 
}

#messages .info form {
    position: relative;
}

#messages .info .button {
    position: absolute;
    right: 0;
    bottom: -15px;
}

#messages .info .message {
    width: calc(100% - 200px);
    height: 100px;
    margin-bottom: -20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-family: Arial;
    line-height: 1.4;
    resize: none;
}

