#messages .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #d44c09;
    text-shadow: 0px 1px 1px #bf9c9c;
    margin: 10px 0 30px;
}

#messages .conversations {
    padding: 30px;
}

#messages .conversation {
    position: relative;
    padding: 10px 10px 20px;
    border: 1px solid black;
    border: 2px dotted rgba(255, 122, 122, 0.5);
    
    cursor: pointer;
    
    transition: all .2s ease;
    margin-bottom: 20px;
}

#messages .conversation:hover {    
    border-style: solid;
    border-color: rgba(222, 103, 33, 0.71);
    background: rgba(183, 83, 24, 0.12);
}

#messages .conversation .user {
    margin-bottom: 20px;
}

#messages .conversation .user .name {
    font-style: italic;
    font-weight: bold;
    color: #c72020;
}

#messages .conversation .message .icon {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    color: #f99051;
    letter-spacing: -4px;
    margin-right: 6px;
    font-style: normal;
    float: left;
}

#messages .conversation .message .text {
    padding-left: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#messages .conversation .overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}