#auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#auth .login-info {
    font-weight: bold;
    font-size: 25px;
    font-family: Arial;
    margin-bottom: 20px;
}

#auth form {
    text-align: center;
}

#auth form .button {
    margin: 15px 0 10px;
}

#auth td.title {
    font-style: italic;
}