<div id="auth">
    <?php if(isset($user)): ?>
    <div>Name: <?= $user->name ?></div>
    <div>Surname: <?= $user->surname ?></div>
    <?php else: ?>
    <div>Not logged in!</div>
    <?php endif; ?>
</div>