#error {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error .code {
    font-size: 300px;
    color: #8c1919;
}

#error .message {
    font-size: 40px;
    font-style: italic;
}