#peoples > .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #d44c09;
    text-shadow: 0px 1px 1px #bf9c9c;
    margin: 10px 0 30px;
}

#peoples .peoples-list {
    display: flex;
    justify-content: space-around;     
    flex-wrap: wrap;   
}

#peoples .people {
    position: relative;
    width: 250px;
    border: 2px dotted rgba(255, 122, 122, 0.5);
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    
    cursor: pointer;
    
    transition: border .1s ease;
}

#peoples .people:hover {
    border-style: solid;
    border-color: rgba(222, 103, 33, 0.71);
}

#peoples .people:hover a {
    color: #e05555;
}

#peoples .people .overflow-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}