#peoples > .info {
    border-radius: 5px;
    border: 1px dashed rgba(255, 94, 0, 0.61);
    padding: 10px;
    margin: 20px;
}

#peoples > .info .name {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: monospace;
    padding-bottom: 10px;
}

#peoples > .info > div:not(:last-child):not(:first-child) {
    margin-bottom: 20px;
}

#peoples > .info .title {
    float: left;
}

#peoples > .info .title ~ span {
    display: block;
    margin-left: 100px;
}

#peoples > .info .birthday .bd {
    margin-left: 150px;
}

#peoples > .control {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(222, 19, 19, 0.17);
}

/*-----------------------------------------*/

#peoples .news-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#peoples .news-list .news {
    width: 400px;
    padding: 10px 0 32px;
    box-sizing: border-box;
    position: relative;
    margin: 20px;
}

#peoples .news-list .news-header {
    margin-bottom: 10px;
    background-color: rgba(224, 201, 159, 0.45);
    padding: 10px;
}

#peoples .news-list .news-header .title {
    font-weight: bold;
    font-size: 15px;
}

#peoples .news-list .control {
    position: absolute;
    bottom: 3px;
    right: 0;
}

#peoples .news-list .news form {
    display: inline-block;
}

#peoples .news-list .news .content {
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
    box-sizing: border-box;
    padding: 0 10px;
}

#peoples .news-list .news .news-body {
    display: flex;
    flex-direction: column;
}

#peoples .news-list .news .news-body .author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 13px;
}

#peoples .news-list .news .news-body .date {
    font-size: 15px;
}