body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 550px;
    font-family: Arial;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: white;
    background-image: url(/content/images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    background-position: center top;
    max-width: 1300px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    width: 100%;
}

#site-header {
    max-width: 1100px;
    height: 60px;
    border-radius: 0 0 100px 100px;
    background: white;
    min-width: 550px;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border: 1px solid #540202;
    border-top: none;
    z-index: 1000;
}

a:not(.button) {
    text-decoration: none;
    color: #da8787;
    font-weight: bold;
    
    transition: color .2s linear;
}

a:not(.button):hover {
    color: #e05555;
}

.site-logo {
    display: block;
    width: 90px;
    height: 50px;
    background-image: url(/content/images/logo.png);
    background-size: cover;
}

.button {
    display: inline-block;
    padding: 10px 5px;
    background: #e66c6c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-family: fantasy;
    margin: 0 5px;
    font-size: 16px;
    
    transition: all .2s linear;
}

.button:hover {
    background-color: #b94d4d;
    box-shadow: 0px 1px 1px 0 #b75c5c;
}

.button.small {
    font-size: 13px;
    padding: 5px 2px;
}

#content {
    margin-top: 59px;
    margin-bottom: 20px;
    flex: 1;
    background: white;
    border: 1px solid #cca2a2;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: calc(100% - 100px);
    padding: 10px;
    box-sizing: border-box;
}

input.main,
textarea.main{
    background: none;
    padding: 5px 10px;
    border: 1px solid #d29c9c;
    border-radius: 5px;
    box-shadow: 0 1px 3px -1px #bd5656;
}

/*#region Navigation*/

#navigation {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 300px;
    border: 2px solid black;
    border-radius: 0 8px 8px 0/0 10px 10px 0;
    background: #e66c6c;
    left: -40px;
    top: calc(50% - 150px);
    transition: left .2s ease;
}

#navigation:hover {
    left: 0px;
}

#navigation .nav-list {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#navigation .nav-button {
    display: block;
    width: 40px;
    height: 40px;
    
    transition: transform .2s linear;
}

#navigation .nav-button.disabled {
    opacity: .5;
}

#navigation .nav-button:not(.disabled):hover {
    transform: scale(1.1);
}

#navigation .nav-button-expand {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 55px;
    background: #e66c6c;
    box-shadow: 2px 0px 0px 0px black;
    right: -15px;
    top: calc(50% - 27px);
}

#navigation .nav-button-expand::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background-image: url(/content/images/expand.png);
    background-size: 30px 12px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    top: 11px;
    left: 10px;
}

#navigation .nav-link {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#navigation .news .nav-link {
    background-image: url(/content/images/news.png);    
}

#navigation .peoples .nav-link {
    background-image: url(/content/images/friends2.png);    
}

#navigation .messages .nav-link {
    background-image: url(/content/images/message.png);    
}

#navigation .photos .nav-link {
    background-image: url(/content/images/camera.png);    
}
/*#endregion*/